body {
    // background: radial-gradient(circle at 25% 0%, rgb(199 210 254) 2%, rgba(255,255,255,1) 30%);
    color: #000;
    font-family: 'Quicksand', 'Arial', sans-serif;
    
    *::selection {
        @apply bg-indigo-500 text-white;
    }

    box-sizing: border-box;
}

// Disable scroll bounce effect on iOS
html, body {
	-webkit-overflow-scrolling : touch !important;
	overflow: auto !important;
	height: 100% !important;
}

.bg-radial-base {
    background: radial-gradient(
      circle at 60% 0%,
      rgb(255, 111, 97, 0.25) 1%,
      rgb(0, 0, 0, 0.07) 30%
    );
}

  /* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}